<div class="container">
  <h3>Ethereum.rb test</h3>
  <p>アドレス: <%= @contract.call.get_address() %></p>
  <p>残高: <%= @contract.call.get_balance() %></p>
  <p>GreetMethod: <%= @contract.call.greeet() %></p>
</div>